.card {
    --size: 30em;
    --border-radius: .5em;
}

.card {
    display: grid;
    margin: auto;
    border-radius: var(--border-radius);
    grid-template-columns: 1fr;
    width: var(--size);
    text-align: center;
    box-shadow: 0px 0px 5px 5px #111;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 10px 10px 25px 5px #111;
}

.img {
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
    border-radius: var(--border-radius);
    width: var(--size);
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.project {
    color: white;
    width: 100%;
    border-radius: var(--border-radius);
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-top: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .2s;
}

.card:hover .project {
    opacity: 1;
}
a {
    text-decoration: none;
}