h1 {
    text-align: center;
    color: lightgray;
}

#contact {
    padding: .5em;
    text-align: center;
    font-size: large;
}

.card {
    max-width: 30vw;
    max-height: 50vh;
    margin: 2vh auto 2vh auto;
    box-shadow: 0px 0px 15px 0px #111;
    font-size: auto;
}

.input-name, .input-surname, .input-message {
    width: 80%;
}