<h1>Contact us</h1>
<div id="contact">
    <p>Siamo felici di poter rispondere alle tue domande e fornire ulteriori informazioni. Non esitare a contattarci utilizzando i seguenti metodi:</p>
    <h3>Indirizzo</h3>
    <p>
        123 Via Principale,<br>
        Città, CAP 12345,<br>
        Paese
    </p>
    <h3>Recapiti Telefonici</h3>
    <p>
        Telefono: +XX XXXX XXXXXXX <br>
        Fax: +XX XXXX XXXXXX
    </p>
    <h3>Indirizzo Email</h3>
    <p>
        Email: <a href="mailto:#">@nomedelsito.com</a>
    </p>
    <h3>Orari di Ufficio</h3>
    <p>
        Dal lunedì al venerdì: 9:00 - 17:00 <br>
        Sabato e domenica: Chiuso
    </p>
</div>

